{
  "tabWidth": 2,
  "printWidth": 140,
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "none",
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.json", "*rc"],
      "options": { "parser": "json" }
    },
    {
      "files": "*.md",
      "options": { "parser": "markdown" }
    },
    {
      "files": "*.html",
      "options": { "parser": "html" }
    }
  ]
}
