{
  "tabWidth": 2,
  "printWidth": 140,
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "parser": "typescript",
  "overrides": [
    {
      "files": ["*.json", "*rc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
